.user{
    padding: 20px 0;
    h2,h3,img,p{
        margin-bottom: 10px;
    }
    ul{
        li{
            margin-bottom: 10px;
            h4,span{
                margin-bottom: 10px;
            }
        }
    }
}